::-webkit-scrollbar-track {
	background-color: #fff; /*Цвет скролла*/
}
::-webkit-scrollbar-thumb {
	border-radius: 5px; /*Закругление ползунка*/
	background-color: #6A7300; /*Цвет ползунка*/
}
::-webkit-scrollbar {
	width: 10px;  /*Толщина скролла*/
}

h2{
    font-size: 1.9em;
    color: #6A7300;
}
em{
    font-size: 1em;
    color: #000;
}
p{
    font-size: 1em;
    color: #000;
}

* {
	scrollbar-color: #fff #6A7300; /*Цвет скролла, цвет ползунка*/
	scrollbar-width: thin; /*Толщина скролла thin, auto*/
}

body {
    font-family: "Lexend Exa", sans-serif;
    background-image: url("/img/See.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0px -110px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img{
    height: 35vh;
    border-radius: 25px;
    border: 0.5px solid transparent;
    max-width: 100%;
}

.header{
    position: absolute;
    top:0%;
    left:50%;
    transform: translate(-270%, 40%);
}
.burger{
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 2;
}
.burger span{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}
.burger span:nth-child(1){
    transform: translateY(-10px);
}
.burger span:nth-child(3){
    transform: translateY(10px);
}
header.open .burger span{
    background-color: white;
}
header.open .burger span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}
header.open .burger span:nth-child(2){
    opacity: 0;
}
header.open .burger span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}

img.background {
  min-height: 100%;
  min-width: 640px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.menu {
  position: absolute;
  top: 10px;
  left: 65%;
  transform: translateX(-2%);
  display: inline-block;
  border: 2px;
  border-radius: 25px;
  animation: slide-in 1s ease-out;
}

.logo {
    display: block;
}

.logo__img {
    width: 200px;
}

.menu__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu__item:not(:last-child) {
    margin-right: 20px;
}

.menu__link {
    font-size: 1.3em;
}

.content{
  position: relative;
  left: 10%;
  width: 80vw;
}

.calendar-wrapper {
  width: 360px;
  margin: 3em auto;
  padding: 2em;
  border: 1px solid #dcdcff;
  border-radius: 5px;
  background: #fff;
}

table {
  clear: both;
  width: 100%;
  border: 1px solid #dcdcff;
  border-radius: 3px;
  border-collapse: collapse;
  color: #444;
}
td {
  height: 48px;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #dcdcff;
  border-top: 1px solid #dcdcff;
  width: 14.28571429%;
}
thead td {
  border: none;
  color: #28283b;
  text-transform: uppercase;
  font-size: 1.5em;
}

td.not-current {
  color: #fff;
}

td.today {
  background-color: lightgreen;
}
td.booked{
  background-color: lightcoral;
}

#btnPrev {
  float: left;
  margin-bottom: 20px;
}
#btnPrev:before {
  content: '\f104';
  font-family: FontAwesome;
  padding-right: 4px;
}
#btnNext {
  float: right;
  margin-bottom: 20px;
}
#btnNext:after {
  content: '\f105';
  font-family: FontAwesome;
  padding-left: 4px;
}
#btnPrev,
#btnNext {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #c0c0c0;
  cursor: pointer;
  font-family: sans-serif;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

#btnPrev:hover,
#btnNext:hover {
  color: #28283b;
  font-weight: bold;
}


@media (max-width: 1024px){
    .burger{
        display: block;
        width: 40px;
        height: 40px;
        border: none;
        left: 15px;
    }
    .menu {
        position: absolute;
        left: -390px;
        top: 0;
        width: 350px;
        background-color: #061F70;
        padding: 75px 20px 20px 20px;
        transition: transform .5s;
        z-index: 1;
    }
    .menu__list {
        display: block;
    }
    .menu__link {
        color: white;
        font-size: 21px;
        display: block;
        padding: 10px 0;
    }
    header.open .menu{
        transform: translateX(100%);
    }
    .content{
      position: relative;
      left: 10%;
      width: 85vw;
    }
  }